#{extends 'main.html' /}
#{Header items:headeritem, img:headerimg/}
#{set 'moreScripts'}
<script src="/public/javascripts/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable();
    } );
</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css" title="currentStyle">
    @import "/public/stylesheets/demo_table.css";
</style>
#{/set}

<div id="Panel">
            #{Left}
            #{UserInfoWnd user/}
            #{Action actioncontext/}
            #{/Left}

            <div id="MainContext">
                #{doLayout /}
            </div>
      </div>