#{extends 'teacher/draft.html' /}
#{set title:'Teacher Home>>Draft>>List' /}
#{set 'moreScripts'}
<script src="/public/javascripts/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable();
    } );
</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css" title="currentStyle">
    @import "/public/stylesheets/demo_table.css";
</style>
#{/set}
#{PaperList paperlist/}