
body 
{
background-color:#718347;
width:1280px;
} 

#header {
	margin-top:10px;
	width:1024px;
	height:145px;
	background: #CED794;

	margin-left:110px;
	/*
        color: #99CC66;*/
	/*position: relative;*/
}

#header img{
    margin-top:0;
    width: 1024px; 
	height: 110px;
}

#header #menu {
	/*position: absolute;*/
	margin-top:-4px;
	margin-right:0px;
	list-style: none;
	background: #FFFFCD;
	height:35px;
}

#header #menu li {
    font-size:24px;
	float: right;	
	line-height:30px;
	background: url(../images/menu.jpg);
	background-repeat: repeat-x;
	margin-right:10px;
}

#header #menu li a {
    color: #FFFFCD;/*����������ɫ ǳ��*/
	display: block;
	font-family:"Times New Roman";
	margin-left: 20px;
	margin-right:20px;
	margin-top:5px;
}

#Panel{
    width:1024px;
    height:860px;
	margin-left:110px;
    background:url(../images/bgleft.jpg);
	margin-top:0px;
}
#Panel #left{
    margin-left:45px;
	margin-top:40px;
	float:left;

}
#Panel #ActionMenu{


}
#Panel #left .DONE{

    background-color: #999999;
    color: #ffffff;
}
#Panel #left .UNDONE{

    background-color: #ffffff;
    color: #000000;
}
#Panel #MainContext{
    background-color:#FFFFCD;
    float:right;
	margin-right:45px;
	margin-top:40px;
	width:660px;
	height:auto;
	color:#718347;
}
#Papers{}
#Papers #PaperList{}

#Papers #PaperList li a{
    color:#718347;
	font-size:18px;
    
}
#table_userInfo{
    width:230px;
	height:280px;
	text-align:center;
	background:#CED794; 
	color:#718347;
	font-size:20px;
	border:1px double #FFFFCD;
	list-style: none;
	margin-bottom:60px;
}
.td{
    border:1px solid #718347;
}
#table_userInfo li a {
    color:#5A6344;
	
}
#table_Action{
    width:230px;
	height:200px;
	text-align:center;
	background:#CED794; 
	font-size:20px;
	border:1px solid #FFFFCD;
	list-style: none;
	margin-bottom:60px;
}
#table_Action li a {
    color:#5A6344;	
}


#table_QB{
    background:#CED794; 
	border:1px solid #FFFFCD;
	margin-bottom:30px;
}
.td{
    border:1px solid #718347;
}

#context{
    font-size:16px;
    color:#718347;
	margin-left:20px;
}