html, body {
    background: #ccccff !important;
    font-family: Helvetica, Arial, Sans !important;

}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}



#header {
	padding: 10px 60px;
	background: #555;
	margin-bottom: 10px;
        /* color: #99CC66;*/
	position: relative;
}
#header p {
	margin: 5px 0;
}

#header a {
	color: gold;
}

#header #menu {
	position: absolute;
	bottom: 0;
	right: 30px;
	list-style: none;
}

#header #menu li {
	float: left;
}

#header #menu li a {
	display: block;
	background: #222;
	padding: 10px 20px;
	margin-left: 3px;
}

#header #menu li a.selected {
	background: #444;
}
table.mm {
    color:black ;
    text-align: left;
    width: 70%;

    vertical-align: top;
}
