%{if(_arg!=null){ }%
<table id="table_userInfo" >
  <tbody>
    <tr>
      <td class="td" style="text-align: left; font-size:28px;" >User: ${_arg.name}<br><br>
          Type: %{
            if(_arg.type==0){
          }%
           Student
          %{}
            else if(_arg.type==1){
          }%
            Teacher
          %{}
            else{
          %}
            Admin
          %{}
          }%<br>
      </td>
      <tr >
          <td class="td">
      <li><a href="/logout">Logout</a></li>
      </td>
    </tr>
  </tbody>
</table>
%{}else{}%
<h2><a href="/login">You Need Log in!</a></h2>
%{}}%